Inconsistent definitions of "expired" between `access_token_expired()` and `_expires_in()`

I am using a higher-level library, *Pyrebase*, that relies on oauth2client. I have been getting intermittent problem with `OAuth2Credentials.get_access_token()`, in which the token is expired, according to `OAuth2Credentials._expired_in()` that returns an integer `0`, but `OAuth2Credentials.access_token_expired()` thinks otherwise.

I put in additional logging into the code to see what's going on. I have found out that the intermittent problem that I am getting happens when the expiry time is less than a second away. Here is an example. 

> Now: 2016-12-27 21:55:00.024112, token_expiry: 2016-12-27 21:55:00.204173

`_expired_in()` would return an integer `0`, indicating that the token has expired, while `access_token_expired()` would return `False` denoting the token is still valid.  The root cause of the problem lies in the fact that the former method has a precision to the nearest second while the latter deals with fraction of a second.

`access_token_expired()` and `_expires_in()` need to have their definitions of **"expired"** aligned with each other.

Both RFC 7523 (section 3.4), and RFC 7519 (section 4.1.4)  make mention that implementations *may* provide some small leeway when processing token expiration to account for clock skew -- has this been causing token refresh to fail?

In any case, would you be able to show how you computed the token expiry to a time with decimal seconds?

The reason I'm asking is because the `exp` value of a JWT token is a _NumericDate_:
> A JSON numeric value representing the number of seconds from
> 1970-01-01T00:00:00Z UTC until the specified UTC date/time,
> ignoring leap seconds.

This would at least in theory cause any token to expire at the time your clock ticks to second they are set to expire.


Definitely aware of the weirdness between the two methods, it's one of the things we avoided in `google-auth`.

Is it possible to see if Pyrebase can switch to google-auth?

Thanks for the info, @ncouture. Implementing a leeway is definitely a way to deal with the issue. I have seen it implemented in other projects, such as [PyJWT](https://github.com/jpadilla/pyjwt).

For my own case, I needed a quick solution, so I didn't spend much time doing analysis and planning for a well-rounded solution. The solution that I ended up having is more like a hack. I have modified `access_token_expired()` method to compare the *exp* claim and the current datetime to their nearest seconds by truncating fraction of second. [Here is the corresponding commit I made to my own fork of *oauth2client*](https://github.com/tamakisquare/oauth2client/commit/7e4c1983f435c02951e524ddd878d7ebd2e2afef)


Thank you for creating this issue, however, this project is deprecatedand we will only be addressing critical security issues. You can read moreabout this deprecation [here](http://google-auth.readthedocs.io/en/latest/oauth2client-deprecation.html).

If you need support or help using this library, we recommend that you ask yourquestion on StackOverflow.

If you still think this issue is relevant and should be addressed, pleasecomment and let us know!
